.card--div {
  background-color: white;
  border: 1px solid black;
  width: 20rem;
  height: 15rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge {
  position: absolute;
  left: 0;
  top: 0;
  background-color: #7c3aed;
  color: white;
  font-size: 12px;
  padding: 4px;
}

.close--btn {
  position: absolute;
  right: 0;
  top: 0;
  background-color: white;
  border: none;
  font-weight: 600;
}

.card--text {
  margin-top: 2rem;
}

.card--text h4,
h5 {
  margin: 10px 0;
}

.overlay {
  position: absolute;
  bottom: 0px;
}

.card--div img {
  height: 100%;
  width: 100%;
}

.horizontal {
  width: 25rem;
  height: 10rem;
}

.vertical {
  width: 15rem;
  height: 20rem;
}

.cards {
  display: flex;
  gap: 5rem;
}

.shadow {
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
}
